.wrapper-container {
  display: flex;
  flex-direction: column;
  padding: var(--size-48) var(--size-24) 0 var(--size-24);
  align-items: center;
}

.main-container {
  width: 960px;
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}

@media (width <= 960px) {
  .main-container {
    width: 100%;
  }
  .main-container > :first-child {
    padding: 0 var(--size-24);
  }
  .wrapper-container {
    padding: var(--size-48) 0;
    align-items: normal;
  }
}
