.main-container {
  padding: var(--size-48);
}

@media (width <= 425px) {
  .main-container {
    padding: var(--size-16);
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: var(--size-16);
}

.error-container button {
  padding: var(--size-8) var(--size-16);
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: var(--size-16);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 76%, 93% 100%, 20% 100%, 0 100%, 0% 20%);
}
