.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
  width: 180px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card > img {
  pointer-events: none;
  object-fit: cover;
  object-position: left;
}

.card-title {
  font-size: var(--size-16);
  font-weight: bold;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-subtitle {
  font-size: var(--size-12);
  flex: 1;
  display: flex;
  align-items: flex-end;
}
